APScheduler==3.9.1
argos_translate_files==1.2.0
argostranslate==1.9.6
expiringdict==1.2.2
Flask==2.2.5
flask_babel==4.0.0
Flask_Limiter==2.6.3
Flask_Session==0.4.0
flask_swagger==0.2.14
flask_swagger_ui==4.11.1
langdetect==1.0.9
LexiLang==1.0.4
libretranslate==1.6.4
MarkupSafe==3.0.2
packaging==24.2
prometheus_client==0.15.0
pytest==7.1.2
redis==4.4.4
Requests==2.32.3
rumps==0.4.0
sshtunnel==0.4.0
translatehtml==1.5.2
waitress==2.1.2
Werkzeug==3.1.3
